@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0C0B0B;
	color: white;
	font-family: 'Oswald', sans-serif;
	overflow: scroll;
}


h1 {

}

input {
	all: unset;
}

.main-slider-img {
	position: absolute;
	top: 0;
	object-fit: cover;
	object-position: top;
}

header {
	position: sticky;
	top: 0;
	z-index: 3;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
}

.default-conteiner {
	max-width: 1716px;
	margin: auto;
}

header .header-nav {
	display: flex;
	height: 56px;
}

header .header-nav ul {
	display: flex;
	align-items: center;
	position: relative;
}

.header-nav-elems {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

ul.second-menu>li>a {
	padding: 0 0 0 17px;
}

ul.second-menu>li:last-child>a {
	border: solid 1px white;
	width: 80px;
	height: 41px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

ul.second-menu>li:last-child {
	margin-left: 17px;
}

ul.second-menu>li:nth-last-child(2) {
	margin-left: 100px;
}

ul.second-menu>li:first-child>a {
	margin-right: 10px;
}

ul.second-menu>li:first-child>a::after {
	content: '';
	position: absolute;
	width: 7px;
	height: 7px;
	background-color: #FF3C00;
	left: 60px;
	border-radius: 50%;
}

main {
/*	height: 100vh;*/
}

.posters-now {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(277px,1fr));
	gap: 10px;
}

.poster-now {
	min-width: 277px;
	min-height: 155px;
	background-color: #0C0B0B;
	position: relative;
	transition: 250ms all;
}

.poster-now:hover {
	cursor: pointer;
	z-index: 1;
	transform: scale(1.1);
}
.lbl-p {
	font-size: 20px;
}

.posters {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(237px,1fr));
	gap: 9px;
}

.poster {
	min-width: 237px;
	min-height: 350px;
	position: relative;
	transition: 250ms all;
}

.poster:hover>a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/icon-play/icon-play.svg);
	background-repeat: no-repeat;
	background-position:center;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.poster:hover {
	cursor: pointer;
	z-index: 1;
	transform: scale(1.1);
}

footer {
	margin-top: 257px;
}

.footer-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(181px,1fr));
	grid-auto-rows: auto;
	gap: 20px;

}

.f-item p {
	color: #6A6A6A;
	fonts-size:18px;
}

.socialsite {
	margin-top: 42px;
}

.socialsite p {
	color: #6A6A6A;
	fonts-size:18px;
}

.socialsite a>img {
	width: 32.57px ;
	height: 32.2px ;
	margin-top: 8px;
	margin-right: 16px;
}

.RushRoyale {
	font-size: 14px;
	color: #636363;
	padding: 36px 0 1rem 0;
}

.default-conteiner>p {
	margin-top: 62px;
	margin-bottom: 19px;
}

.poster-now-lbls p {
	font-size:16px;
}

.poster-now-lbls>p:first-child {
	color: #7E7E7E;
	font-size:13px;
}

.poster-now>img {
	height: auto;

}

.hero-name {
	height: 75vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 1;
}

.hero-name>p:first-child {
	font-size: 64px;
	font-weight: bold;
	padding-bottom: 1rem;
}

.hero-name>p:nth-child(2) {
	font-size: 15px;
	padding-bottom: 26px;
}

/*button {
	width: 209px;
	height: 57px;
	background-color: #FF501A;
	font-size: 20px;
	color: white;
	border:solid 0px;
}*/

.WATCHNOW>button {
	background-color: #FF501A;
	border: none;
	padding: 1rem;
	font-size: 1rem;
	width: 10em;
	border-radius: 1rem;
	color: white;
	box-shadow: 0 0.4rem white;
	cursor: pointer;
}

.WATCHNOW>button:active {
	color: white;
	box-shadow: 0 0.2rem #dfd9d9;
	transform: translateY(0.2rem);
}

.WATCHNOW>button:hover:not(:disabled) {
	background: lightcoral;
	color: white;
	text-shadow: 0 0.1rem #bcb4b4;
}

.WATCHNOW>button:disabled {
	cursor: auto;
	color: grey;
}

.next-main-slider-dots {
	display: flex;
	justify-content: flex-end;

}

.next-main-slider-dots>span {
	width: 13px;
	height: 13px;
	background-color: #808080;
	z-index: 1;
	margin: 0 0 0 13px;
	border-radius: 50%;
	cursor: pointer;
}

.next-main-slider-dots>span.active {
	background-color: #DFDFDF;
}

.fader-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.fader-bg .fader-gradient-1 {
	width: 100%;
	height: 100%;
	background: linear-gradient(277.92deg, rgba(0, 0, 0, 0) 7.66%, rgba(0, 0, 0, 0.88) 89.67%);
}

.fader-bg .fader-gradient-0 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 77.36%, rgba(0, 0, 0, 0.01) 77.36%, #0C0B0B 96.82%);
}

.player {
	position: relative;
	width: 100%;
}

.player::after {
	display: block;
	content: '';
	padding-top: 56.25%;
}

.player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tabs-titles {
	display: flex;
	margin-top: 20px;
}

.tabs-titles li{
	padding-right: 45px;
	font-size: 20px;
	cursor: pointer;
}

.tabs-titles li.active {
	font-weight: 600;
}

.tabs {
	margin-top: 21px;
}

.tabs p {
	color: #CDCDCD;
}

.tabs p:last-child {
	padding-top: 24px;
	color: #878787;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	flex-direction: column;

}

.login .form-conteiner {
	width: 566px;
	height: auto;
	background-color: #161515;
	padding: 26px 70px 26px 70px;
}

.login .form-conteiner>form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.login .form-conteiner>form>input {
	height: 42px;
	background-color: #404040;
	margin-bottom: 24px;
}

.form-conteiner>form>label {
	font-size: 17px;
	color: #A3A3A3;
}

.login .form-conteiner>p:first-child {
	font-size: 24px;
	color: #B8B8B8;
	text-align: center;
}

.login .form-conteiner>form>input[type=submit] {
	height: 42px;
	width: 136px;
	background-color: #FF501A;
	margin-bottom: 24px;
	text-align: center;
	margin: auto;
	cursor: pointer;
	font-size: 20px;

}

.login .form-conteiner>p:last-child {
	font-size: 15px;
	color: #747474;
	text-align: center;
	padding-top: 20px;
}

.login .form-conteiner>p>span {
	color: #C1C1C1;
	cursor: pointer;
}

.login>p {
	font-size: 15px;
	color: #747474;
	padding-top: 20px;
}

.login>p>span>a {
	color: #C1C1C1;
	cursor: pointer;
}